{{ define "library-card" }}
<sl-card class="library-card"
  ><div class="card-content">
    <div class="cover">
      <img
        src="http://localhost:3000/api/series-cover?name=Honzuki%20no%20Gekokujou%20Shisho%20ni%20Naru%20Tame%20ni%20wa%20Shudan%20wo%20Erandeiraremasen"
        alt="{{ .Title }} cover"
        loading="lazy"
      />
    </div>
    <div class="card-info">
      <div class="card-badges">
        <sl-badge class="rating" variant="warning"
          >{{ printf "%.2f" .Score }}</sl-badge
        ><sl-badge class="progress-count" variant="primary"
          >{{ .Progress }}</sl-badge
        >
      </div>
      <h2 class="card-title">{{ .Title }}</h2>
      <p class="card-meta">{{ .Year }}</p>
    </div>
  </div></sl-card
>
{{ end }}
