{{ define "show-detail" }}
<sl-card class="detail"
  ><div class="detail-hero">
    <div class="detail-top">
      <div class="cover large">
        <img
          src="http://localhost:3000/api/series-cover?name=Honzuki%20no%20Gekokujou%20Shisho%20ni%20Naru%20Tame%20ni%20wa%20Shudan%20wo%20Erandeiraremasen"
          alt="{{ .Title }} cover"
        />
      </div>
      <div class="detail-copy">
        <p class="eyebrow">Now watching</p>
        <h1>{{ .Title }}</h1>
        <p class="subtle">{{ .Alternative }}</p>
        <div class="tags">
          {{ range .Tags }}<sl-tag size="small">{{ . }}</sl-tag>{{ end }}
        </div>
        <div class="detail-actions">
          <sl-button variant="primary">Continue watching</sl-button
          ><sl-button
            ><sl-icon name="star" slot="prefix"></sl-icon>Add to
            favourites</sl-button
          >
        </div>
      </div>
    </div>
  </div>
  <div class="detail-body">
    <div>
      <h2>Synopsis</h2>
      <p class="synopsis">{{ .Synopsis }}</p>
    </div>
  </div></sl-card
>
{{ end }}
